/**
 * @name rcp-Tooltip
 * @description Tooltip based on an html attribute (data-rcp-tooltip)
 * @markup
 * <div class="rcp-Tooltip" data-rcp-tooltip="Tooltip">Hover me</div>
 * <div class="rcp-Tooltip rcp-Tooltip--top" data-rcp-tooltip="Tooltip">Hover me (top)</div>
 * <div class="rcp-Tooltip rcp-Tooltip--top rcp-Tooltip--visible" data-rcp-tooltip="Tooltip">visible on top</div>
 * <div class="rcp-Tooltip rcp-Tooltip--right" data-rcp-tooltip="Tooltip">Hover me (right)</div>
 * <div class="rcp-Tooltip rcp-Tooltip--right rcp-Tooltip--visible" data-rcp-tooltip="Tooltip">visible on right</div>
 * <div class="rcp-Tooltip rcp-Tooltip--bottom" data-rcp-tooltip="Tooltip">Hover me (bottom)</div>
 * <div class="rcp-Tooltip rcp-Tooltip--bottom rcp-Tooltip--visible" data-rcp-tooltip="Tooltip">visible on bottom</div>
 * <div class="rcp-Tooltip rcp-Tooltip--left" data-rcp-tooltip="Tooltip">Hover me (left)</div>
 * <div class="rcp-Tooltip rcp-Tooltip--left rcp-Tooltip--visible" data-rcp-tooltip="Tooltip">visible on left</div>
 */
:root {
  --rcp-Tooltip-zIndex: 1000;
  --rcp-Tooltip-backgroundColor: #383838;
  --rcp-Tooltip-margin: .5rem;
  
  --rcp-Tooltip-arrow-size: .5rem;
}

.rcp-Tooltip {
  position: relative;
  display: inline-block;
}

.rcp-Tooltip::before,
.rcp-Tooltip::after {
  z-index: var(--rcp-Tooltip-zIndex);
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: .3s ease;
  transform: translate3d(0, 0, 0);
}

  .rcp-Tooltip--visible::before,
  .rcp-Tooltip--visible::after,
  .rcp-Tooltip:hover::before,
  .rcp-Tooltip:hover::after,
  .rcp-Tooltip:focus::before,
  .rcp-Tooltip:focus::after {
    visibility: visible;
    opacity: 1;
  }

  .rcp-Tooltip::before {
    content: "";
    z-index: calc(var(--rcp-Tooltip-zIndex) + 1);
    position: absolute;
    border: var(--rcp-Tooltip-arrow-size) solid transparent;
    background: transparent;
  }

  .rcp-Tooltip::after {
    content: attr(data-rcp-tooltip);

    font-size: .83333rem;
    line-height: 1.5625rem;
    padding: 0 .5rem;

    color: #fff;
    background: var(--rcp-Tooltip-backgroundColor);
    text-shadow: 0 -1px 0 #000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);

    border-radius: 2px;
  }

  /**
   * Positions
   */

    /**
     * Top
     */
    .rcp-Tooltip--top::before,
    .rcp-Tooltip--top::after {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    .rcp-Tooltip--visible.rcp-Tooltip--top::before,
    .rcp-Tooltip--visible.rcp-Tooltip--top::after,
    .rcp-Tooltip--top:hover::after,
    .rcp-Tooltip--top:hover::before,
    .rcp-Tooltip--top:focus::after,
    .rcp-Tooltip--top:focus::before {
      transform: translateX(-50%) translateY(-var(--rcp-Tooltip-margin));
    }

    .rcp-Tooltip--top::before {
      border-top-color: var(--rcp-Tooltip-backgroundColor);
      margin-bottom: calc(var(--rcp-Tooltip-arrow-size) * -2);
    }

    /**
     * Bottom
     */
    .rcp-Tooltip--bottom::before,
    .rcp-Tooltip--bottom::after {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    .rcp-Tooltip--visible.rcp-Tooltip--bottom::before,
    .rcp-Tooltip--visible.rcp-Tooltip--bottom::after,
    .rcp-Tooltip--bottom:hover::after,
    .rcp-Tooltip--bottom:hover::before,
    .rcp-Tooltip--bottom:focus::after,
    .rcp-Tooltip--bottom:focus::before {
      transform: translateX(-50%) translateY(var(--rcp-Tooltip-margin));
    }

    .rcp-Tooltip--bottom::before {
      margin-top: calc(var(--rcp-Tooltip-arrow-size) * -2);
      border-bottom-color: var(--rcp-Tooltip-backgroundColor);
    }

    /**
     * Left
     */
    .rcp-Tooltip--left::before,
    .rcp-Tooltip--left::after {
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    .rcp-Tooltip--visible.rcp-Tooltip--left::before,
    .rcp-Tooltip--visible.rcp-Tooltip--left::after,
    .rcp-Tooltip--left:hover::after,
    .rcp-Tooltip--left:hover::before,
    .rcp-Tooltip--left:focus::after,
    .rcp-Tooltip--left:focus::before {
      transform: translateX(-var(--rcp-Tooltip-margin)) translateY(-50%);
    }

    .rcp-Tooltip--left::before {
      margin-right: calc(var(--rcp-Tooltip-arrow-size) * -2);
      border-left-color: var(--rcp-Tooltip-backgroundColor);
    }

    /**
     * Right
     */
    .rcp-Tooltip--right::before,
    .rcp-Tooltip--right::after {
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    .rcp-Tooltip--visible.rcp-Tooltip--right::before,
    .rcp-Tooltip--visible.rcp-Tooltip--right::after,
    .rcp-Tooltip--right:hover::after,
    .rcp-Tooltip--right:hover::before,
    .rcp-Tooltip--right:focus::after,
    .rcp-Tooltip--right:focus::before {
      transform: translateX(var(--rcp-Tooltip-margin)) translateY(-50%);
    }

    .rcp-Tooltip--right::before {
      margin-left: calc(var(--rcp-Tooltip-arrow-size) * -2);
      border-right-color: var(--rcp-Tooltip-backgroundColor);
    }
